* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--White: rgb(255, 255, 255);
	--Stone-100: rgb(243, 230, 216);
	--Stone-150: rgb(228, 222, 216);
	--Stone-600: rgb(95, 87, 78);
	--Stone-900: rgb(48, 45, 44);
	--Brown-800: rgb(133, 70, 50);
	--Rose-800: rgb(123, 40, 79);
	--Rose-50: rgb(255, 245, 250);
}

html {
	font-size: 62.5%;
}

/* components */
.text-bold {
	font-weight: 800;
}

.section {
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: 1px solid var(--Stone-150);
}

.section:last-of-type {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.section__heading {
	margin-bottom: 1em;
	font-size: 2.8rem;
	font-family: "Young Serif";
	font-weight: 400;
	color: var(--Brown-800);
}

/* components end */

body {
	min-height: 100svh;
	font-size: 1.6rem;
	font-family: "Outfit";
	color: var(--Stone-600);
	background-color: var(--Stone-100);
}

.recipe-box {
	max-width: 700px;
	background-color: var(--White);
}

.hero-img {
	width: 100%;
}

.header {
	padding: 2em 2em 0 2em;
}

.header__title {
	margin-bottom: 0.8em;
	font-family: "Young Serif";
	font-weight: 400;
	line-height: 100%;
	color: var(--Stone-900);
}

.header__content {
	line-height: 150%;
}

.main {
	padding: 2em;
}

.preparation {
	margin-bottom: 2em;
	padding: 1.6em;
	background-color: var(--Rose-50);
	border-radius: 14px;
}

.preparation__heading {
	margin-bottom: 0.8em;
	font-weight: 600;
	color: var(--Rose-800);
}

.preparation__details {
	margin-left: 1em;
}

.preparation__details--item {
	margin: 0 0 1em 0.5em;
	padding-left: 1em;
}

.preparation__details--item::marker {
	color: var(--Rose-800);
}

.ingredients__list--item,
.instructions__list--item {
	margin: 0 0 0.5em 0.5em;
	padding-left: 1em;
}

.ingredients__list,
.instructions__list {
	padding-left: 1em;
}

.ingredients__list--item::marker,
.instructions__list--item::marker {
	font-weight: 600;
	color: var(--Brown-800);
}

.instructions__list--item {
	line-height: 150%;
}

.nutrition__desrciption {
	margin-bottom: 1em;
	line-height: 150%;
}

.nutrition__line {
	padding: 1em;
	display: flex;
	border-bottom: 1px solid var(--Stone-150);
}

.nutrition__line:last-of-type {
	border-bottom: none;
}

.nutrition__line--name,
.nutrition__line--quantity {
	width: 50%;
}

.nutrition__line--quantity {
	color: var(--Brown-800);
}

@media (min-width: 700px) {
	body {
		padding: 5em;
	}

	.recipe-box {
		margin: 0 auto;
		border-radius: 14px;
	}

	.hero-img {
		width: 90%;
		margin: 2em 2em 0 2em;
		border-radius: 14px;
	}
}
